html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}










body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
}

#sidebar {
    width: 250px;
    min-height: 100vh;
    border-right: 3px solid #ffc107;
    position: fixed;
}

.main-content {
    margin-left: 250px;
    background-color: #fdfdfd;
    min-height: 100vh;
}

.nav-link {
    font-weight: 500;
    transition: background 0.3s, color 0.3s;
}

    .nav-link:hover {
        background-color: #ffc107;
        color: #000 !important;
        border-radius: 6px;
    }

.dropdown-menu a.dropdown-item {
    font-weight: 500;
}

    .dropdown-menu a.dropdown-item:hover {
        background-color: #ffc107;
        color: #000;
    }

/*
@media (max-width: 768px) {
    #sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }*/









